h1 {
    text-align: center;
    background-color: rgb(129, 204, 138);
}
.container {
    display: grid;
    grid-template-columns: repeat(5%);
    background-color: lightblue;
}
.container2 {
    display: grid;
    grid-template-columns: repeat(3%);
  
    
}
#divin {
    background-color: bisque;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-style: solid;
    border-color: black;
    padding-bottom:  0px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 0px;
    display:flex;
    gap: 5px;
    margin: 2%;
    
}
 
#border {
    border-style: solid;
    border-color: black;
}


#marginleft {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.zoom-container img:hover {
        transform: scale(1.4);
        cursor:grabbing;}

.comicheadline {
 border-style: solid;   
 text-align: center;
 background-color: rgb(129, 204, 138);;

}
#image {
    align-self: center;
}
table {
    border-style: solid;
    background-color: lightblue;
}
/*h2 {
    text-decoration: underline;
}*/
#threeimg {
  background-color: bisque;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-style: solid;
    border-color: black;
    padding:1%;
    display:flex;
    gap: 10px;
    margin: 2%;   
}
#color{
    background-color:  white;
    border-style: solid;
}
.container { /* Ersetze .container durch den Namen deiner Klasse */
  display: flex;
  justify-content: left; /* Zentriert die Bilderreihe */
  gap: 5px;               /* Hier stellst du den Abstand ein (0 für gar keinen) */
}

   
.bild-reihe {
    display: flex;          /* Legt die Bilder nebeneinander */
    justify-content: center; /* Zentriert die ganze Gruppe */
    gap: 10px;              /* Hier steuerst du den Abstand (z.B. 5px für noch näher) */
    padding: 20px 0;
    width: 150px;
    height: auto;
    max-width: 80%;}





