h1 {
    text-align: center;
    background-color: rgb(129, 204, 138);
}
.container {
    display: grid;
    grid-template-columns: repeat(5%);
    background-color: lightblue;
}
.container2 {
    display: grid;
    grid-template-columns: repeat(3%);
  
    
}
#divin {
    background-color: bisque;
    padding-bottom:  0px;
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 0px;
    display:flex;
    gap: 20px;
    /*margin: 2%;*/
    border-style: solid;
    border-top-color: bisque;
    border-bottom-color:bisque ;
    
}
 
#border {
    border-style: solid;
    border-color: black;
    
}


#marginleft {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.zoom-container img:hover {
        transform: scale(1.4);
        cursor:grabbing;}

.comicheadline {
 border-style: solid;   
 text-align: center;
 background-color: rgb(129, 204, 138);
 margin-top: 2%;
 margin-bottom: 0px;

}
#image {
    align-self: center;
     border-style: solid;
    border-color: black;
}
table {
    border-style: solid;
    background-color: lightblue;
}
/*h2 {
    text-decoration: underline;
}*/
#threeimg {
  background-color: bisque;
    
    border-style: solid;
    border-color: black;
    padding:1%;
    display:flex;
    gap: 10px;
    margin: 2%;   
}
#color{
    background-color:  white;
    border-style: solid;
}
.container { /* Ersetze .container durch den Namen deiner Klasse */
  display: flex;
  justify-content: left; /* Zentriert die Bilderreihe */
  gap: 5px;               /* Hier stellst du den Abstand ein (0 für gar keinen) */
}

   #h2_3 {
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    border: solid;
    border-bottom-color:  rgb(129, 204, 138);
    background-color: rgb(129, 204, 138);
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right:0px;
    margin-top: 2%;


   }
   #div6 {
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    border-top: solid;
    background-color: bisque;
    margin-bottom: 2%;
    margin-left: 0px;
    margin-right:0px;
    margin-top: 0px;
   }
   #div8 {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    background-color: bisque;
    border-style: solid;
    border-color: black;
   }





