






#div1{
    background-color: rgb(129, 204, 138);
    margin:0px;
    height: 100px;
    
    body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}
}
#div2 {
    background:lightblue;
    height: 560px;
  
    margin: 0%;
   
    float: left;
    width: 200px;
}
#div3{
    background-color: bisque;
    height: 560px;;
  
    margin: 0%;
    
    ;
}
#div4 {
    background:lightblue;
    height: 560px;
    width: 200px;
    margin: 0%;
    font-weight: bold;
    float: right;
}
#div5{
    background-color: rgb(129, 204, 138);
    height: 100px;;
   
    margin: 0%;
    
}

