






#div1{
    background-color: rgb(129, 204, 138);
    margin:0px;
    height: 100px;
    width: 700px;;
    body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}
}
#div24 {
    background:lightblue;
    height: 80%;
    width: 210px;
    margin: 0%;
    color:lightblue;
}
#div3{
    background-color: bisque;
    height:80%;
    width: 490px;
    margin: 0%;
    color:bisque;
}
#div5{
    background-color: rgb(129, 204, 138);
    height:40px;
    width: 700px;
    margin: 0%;
    color: rgb(129, 204, 138);
}
